<
style>body {
	background: #ff0000;
}

div {
	width: 600px;
	border-radius: 90px;
	border-style: solid; border-width : 5px;
	margin: auto;
	margin: 10 0 0 450px;
	overflow: hidden;
	padding: 90px;
	background: blue;
	border-width: 5px;
}

h2 {
	text-align: center;
	padding: 10px;
	color: #003300;
}

label {
	color: black;
	border-radius: 150px;
	padding-left: 20px;
}

inputText {
	width: 300px;
	height: 30px;
	text-align: left;
	border: none;
	border-radius: 80px;
	padding-left: 8px;
}

#logButton {
	width: 200px;
	height: 30px;
	border: none;
	border-radius: 100px;
	padding-Center: 20px;
	color: Darkblack;
	font-size: 16px;
	background-color: orange;
}
</
style
>