body {
    background: #f4f4f4; /* Light grey clean background */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}



/* Heading */
h2 {
    text-align: center;
    padding: 10px;
    color: #333;
}

/* Labels */
label {
    color: #333;
    padding-left: 5px;
    display: block;
    margin-bottom: 5px;
}

/* Fix input box styling */
input[type="text"], 
input[type="password"] {
    width: 100%;
    height: 35px;
    border: 1px solid #bbb;
    border-radius: 8px;
    padding-left: 10px;
    margin-bottom: 15px;
}

/* Button styles */
#logButton {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    background-color: orange;
    color: #fff;
    cursor: pointer;
}

#logButton:hover {
    background-color: #e69500;
}
